.drawer {
    text-align: center;
    width: 350px;
    padding: 30px;
    background: #f0efef;
    border: 1px solid #24262a;
    border-radius: 10px;
    transition: all .4s ease;
    font-weight: bold;
}

.drawer:hover {
    transform: scaleY(1.1);
}